<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Trackers</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Groupie Trackers</h1>
    </header>
    <main>
        <section id="artists">
            <h2>Artists</h2>
            <ul>
                {{range .Artists}}
                <li>
                    <h3>{{.Name}}</h3>
                    <img src="{{.Image}}" alt="{{.Name}}">
                    <p>Members: {{range .Members}}{{.}} {{end}}</p>
                </li>
                {{end}}
            </ul>
        </section>
        <section id="locations">
            <h2>Locations</h2>
            <ul>
                {{range .Locations}}
                <li>
                    <h3>ID: {{.ID}}</h3>
                    <p>Locations: {{range .Locations}}{{.}} {{end}}</p>
                    <p>Dates API URL: <a href="{{.Dates}}">{{.Dates}}</a></p>
                </li>
                {{end}}
            </ul>
        </section>
        <section id="dates">
            <h2>Dates</h2>
            <ul>
                {{range .Dates}}
                <li>
                    <h3>ID: {{.ID}}</h3>
                    <p>Dates: {{range .Dates}}{{.}} {{end}}</p>
                </li>
                {{end}}
            </ul>
        </section>
        <section id="relations">
            <h2>Relations</h2>
            <ul>
                {{range .Relations}}
                <li>
                    <h3>ID: {{.ID}}</h3>
                    <p>Dates and Locations:</p>
                    {{range $location, $dates := .DatesLocations}}
                        <h4>{{ $location }}</h4>
                        <ul>
                            {{range $dates}}
                                <li>{{.}}</li>
                            {{end}}
                        </ul>
                    {{end}}
                </li>
                {{end}}
            </ul>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Groupie Trackers</p>
    </footer>
</body>
</html>
