<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link rel="shortcut icon" href="https://icons.iconarchive.com/icons/alecive/flatwoken/512/Apps-Player-Audio-C-icon.png" type="image/x-icon">
    <title>{{.Name}} - Artist Profile</title>
    <link rel="stylesheet" href="static/style.css" />
  </head>
  <body>
    <header class="profile-header">
      <h1>{{.Name}}</h1>
      <a href="/" class="bhome">Home</a>
    </header>
    <main>
        <div class="profile-card">
          <div class="profile-image">
            <img src="{{.Image}}" alt="{{.Name}}" class="profile-image" />
          </div>
          <h2>{{.Name}}</h2>
          <h3>Members:</h3>
          <h3>Creations Date: {{.CreationDate}}</h3>
          <h3>First Album: {{.FristAlbum}}</h3>
          <ul>
            {{range .Members}}
            <li>{{.}}</li>
            {{end}}
          </ul>
          <h3>Relations:</h3>
          <ul>
            {{range $key, $value := .Relations.Relation}}
            <li>
              <strong>{{ $key }}:</strong>
              <ul>
                {{range $value}}
                <li>{{.}}</li>
                {{end}}
              </ul>
            </li>
            {{end}}
          </ul>
          <h3>Locations:</h3>
          <ul>
            {{range .Locations.Locations}}
            <li>{{.}}</li>
            {{end}}
          </ul>
          <h3>Dates:</h3>
          <ul>
            {{range .Dates.Dates}}
            <li>{{.}}</li>
            {{end}}
          </ul>
        </div>
    </main>
  </body>
</html>
