body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em;
    text-align: center;
}

main {
    padding: 1em;
}

section {
    margin-bottom: 2em;
}

h2 {
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 0.5em;
}

h3{
    font-size: large;
    color: #333;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
    gap: 20px;
    height: auto;
    width: 100%;
    font-size: 5px;
    
}

.card {
border-radius: 20px;
background-color: rgb(185, 21, 185);
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
transition: transform 0.3s ease, box-shadow 0.3s ease;
 
}